$--color-primary: #409EFF !default;
$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;
$--color-border--default: #DCDFE6 !default;
$--color-font--default: #303133 !default;
$--font-size--mini: 12px !default;
$--font-size--small: 13px !default;
$--font-size--normal: 14px !default;